.idea/

# Ignoriraj vse v data/ in models/
/data/**
/models/**

# Razen DVC kazalcev in sample_reviews.csv
!/data/
!/data/reviews/
!/data/reviews/sample_reviews.csv
!/data/**/*.dvc
!/models/
!/models/**/*.dvc

!/data/preprocessed/
/data/preprocessed/*
!/data/preprocessed/*.dvc
!/data/preprocessed/.gitignore